@media only screen and (max-width: 768px) {
    .navbar {
        position: relative;
        width: 350px;
        /* height: 35px; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger {
        display: flex;
        padding: 20px;
    }

    .nav-list {
        position: absolute;
        left: -100%;
        transition: all 1s ease-in-out;
    }

    .nav3 {
        display: inline;
        display: flex;
        align-items: center;
        width: 0px;

    }

    .login {
        display: none;
    }

    .are {
        display: none;
    }

    .nav3 img:nth-child(2) {
        display: none;
    }

    .head-main {
        background-color: #F8F8FA;
        background-color: aqua;
        padding: 30px 0px;

    }

    .head-side-1 {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .head-side-1 {} */

    .head-side-1 p {
        width: 99%;
        font-family: regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #2C2C2D;

    }

    .vector-left {
        width: 0;
        height: 0;
        padding: 20px;
    }

    .vector-right {
        width: 0;
        height: 0;
        padding: 20px;
        background: none;
    }

    .vector-right img {
        width: 15px;
        /* height: 50px; */
    }

    .get-started {}

    .head-side-1 h2 {
        width: 99%;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .top {
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .head-side-2 {
        gap: 10px;
        width: 392px;


    }

    .get-started {
        position: absolute;
        top: 85%;
    }

    .imgs {
        width: 230px;
        height: 250px;
    }

    .img {
        /* display: none; */
    }
}