@media only screen and (max-width: 768px) {
    .navbar {
        position: relative;

        display: flex;
        align-items: center;

    }

    .burger {
        display: flex;
        padding: 20px;
    }

    .nav-list ul {
        display: block;
        /* flex-direction: row; */
        align-items: flex-start;
        gap: 20px;
        background-color: #281A4B;
        padding: 97px;
        height: 560px;
        width: 250px;
        border-radius: 6px;
    }



    .nav-list ul li {
        color: #FFFFFF;
        padding: 17px 0px;
    }

    .nav-list {
        display: block;
        position: absolute;
        left: -100%;
        top: 0;
        transition: all 1s ease-in-out;
        z-index: 1;
    }

    .nav-active {
        position: absolute;
        top: 100%;
        left: -6%;
    }


    .mamed img:nth-child(3) {
        display: none;
    }

    .mamed img:nth-child(2) {
        display: flex !important;

    }

    .mamed i {
        display: flex !important;
    }

    .login {
        display: none;
    }

    .are {
        display: none;
    }

    .nav3 img:nth-child(2) {
        display: none;
    }

    .head-main {
        background-color: #F8F8FA;
        padding: 90px 0px;

    }

    .head-side-1 {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .head-side-1 p {
        display: none;

        width: 99%;
        font-family: regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #2C2C2D;

    }

    .vector-left {
        width: 0;
        height: 0;
        padding: 20px;
    }

    .vector-right {
        width: 0;
        height: 0;
        padding: 20px;
        background: none;
        margin: 10px;
    }

    .vector-right img {
        width: 15px;

    }

    .get-started {}

    .head-side-1 h2 {
        width: 99%;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .top {
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .head-side-2 {
        gap: 10px;
        width: 392px;
        height: 300px;



    }

    .get-started {
        position: absolute;
        top: 105%;
    }

    .imgs {
        width: 200px;
        height: 220px;
    }

    .img {
        /* display: none; */
    }

    .unsee {
        display: flex;
    }

    .sponsors {
        overflow: scroll;
    }

    .container-2 {
        width: 75%;
        margin: auto;
    }

    /* features */
    .off {
        display: block;
    }

    .feat-side-1 {
        width: 100%;
    }

    .f1 p {
        width: 100%;
    }

    .f2-2 {
        width: 100%;
    }

    .f2-2 h3 {
        padding: 10px 20px;
    }

    .f2-2 p {
        padding: 10px 20px;
    }

    .f3-3 {
        display: block;
        padding: 0px 0px;
    }

    /* .f3-3 .f3 {
        padding: 20px 0px;
    } */

    .f3 {
        width: 100%;
        margin-bottom: 16px;
        border-radius: 0px
    }



    .f5 {
        padding: 23px 0px;
    }

    .f3 .f4 {
        padding: 10px 0px;
    }

    .f6 {
        padding: 0px 0px;
    }

    /* End features */
    /*rectangle  */
    .rectangle {
        /* display: block; */
        height: 1170px;
    }

    .rectangle-side-2 {
        position: absolute;
        top: 383px;
        left: 0;
        width: 100%;
        text-align: initial;
        padding-left: 30px;
    }


    .rot {
        display: none;
        visibility: hidden;
    }

    .unneed {
        display: block;
        visibility: visible;
    }

    .back {
        width: 136px;
        height: 167px;
        border-radius: 3px;
        position: absolute;
        left: 8%;
        top: 13%;
    }

    .frame-1 {
        z-index: 1;
        position: absolute;
        top: 160px;
        left: 50px;
        width: 235px;
        height: 99px;
    }

    .frame-2 {
        top: -90%;
        left: 50%;
    }

    .fra {
        width: 170px;
        height: 99px;
    }

    .fra p {
        font-size: 12px;
        padding: 13px 1px;
        padding-left: 30px;
    }

    .frame .p-1 {
        padding: 13px 1px;
        padding-left: 30px;
    }

    .frame img {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 43px;
        left: -20px;
    }

    .frame .p-2 {
        padding: 20px 0px;
        padding-left: 30px;
    }

    /* End rectangle */
    .container-users h2 {
        padding: 0;
    }

    .users {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .user-2 {
        padding: 0px 40px;
    }

    .users img {
        width: 278px;
        height: 280px;
    }

    .user-content {
        position: absolute;
        top: 120px;
        left: 70px;
        width: 278px;
        padding: 20px;

    }

    .prices {
        /* overflow: scroll; */
    }

    .bundles {
        width: 1000px;
    }

    .bundle {
        width: 343px;
        height: 540px;
        padding: 40px 25px;
        overflow: scroll;
    }

    .bundle h3 {
        padding: 25px 0px;
    }

    .bundle-2 {
        position: relative;
        position: absolute;
        top: 260px;
        left: 395px;
        background: #3B2D5D;
        color: #FFFFFF;
        padding: 30px 25px;
    }

    .get-1 {
        position: absolute;
        top: 485px;
        left: 75px;
    }

    .get-part-2 {
        display: block;
        position: initial;
    }


    .Questions {
        display: block;
    }

    .mid-line {
        position: initial;
        width: 340px;
        height: 0px;
        left: 560px;
        top: 211px;
        border: 3px solid #281A4B;
        transform: rotate(0deg);
        margin: auto;
    }

    .question {
        padding: 30px;
        /* padding-right: 180px; */
        background-color: #FFFFFF;
        margin: 40px;
    }

    .cont-act {
        display: block;
    }

    .contact-us {
        padding: 100px 0px;
    }

    .contact-us input {
        width: 100%;
    }




    .foot {
        display: block;
    }
}





/* ipad */
@media only screen and (max-width: 992px) {}