/* Defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: regular;
}

li {
    list-style-type: none;
    justify-content: space-between;

}

a {
    text-decoration: none;
}

#container {
    width: 85%;
    margin: auto;
}

#container-1 {
    width: 90%;
    margin: auto;
}

@font-face {
    font-family: regular;
    src: url(/fonts/Lato-Regular.ttf);
}

/* End Defaults */

/* Header */
/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    /* position: fixed;
    z-index: 1; */
}




/* phone */
.burger {
    display: none;
}

/* phone */

.nav-list ul li {
    list-style-type: none;
    text-transform: capitalize;
    cursor: pointer;
}

.nav-list ul {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

}

.nav3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    -webkit-touch-callout: none;



}


.nav3 .mamed img {
    cursor: pointer;
}

.nav3 img:nth-child(2) {
    padding: 5px;
}


/* End navbar */
.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-main {
    background-color: #F8F8FA;

}

.top {
    display: flex;

}

.unsee {
    display: none;
}

.head-side-1 h2 {
    width: 509px;
    height: 72px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #2C2C2D;
    font-family: regular;


}

.head-side-1 p {
    font-family: regular;
    width: 473px;
    height: 88px;
    color: #2C2C2D;
    padding: 80px 0px;

}

.imgs img {
    display: none;
    object-fit: cover;
    border-radius: 20px;

}


.mamed {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mamed i {
    display: none;
    font-size: 20px;
    padding: 5px;

}

.img .active {
    display: flex;
}

.are {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: #FFFFFF;
    /* main color */

    border: 1px solid #281A4B;
    border-radius: 6px;
    padding: 15px 90px;
    gap: 10px;
    cursor: pointer;

}

.are a {
    text-decoration: none;
    color: #281A4B;
}

.login {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    gap: 10px;
    /* 
    width: 179px;
    height: 50px; */

    /* main color */

    background: #281A4B;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: regular;
}

.login a {
    color: #F8F8FA;
}

.get-started {
    position: relative;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: regular;
    display: inline-block;
    /* main color */

    background: #281A4B;
    border-radius: 6px;
    color: #FFFFFF;
    padding: 10px 50px;
    cursor: pointer;

}

.head-side-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 540px;
    gap: 60px;
}

.vector-left {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    width: 60px;
    height: 60px;
    /* main color */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #281A4B;
    border-radius: 6px;
}

.vector-right {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: relative;
    margin-left: 25px;
    width: 60px;
    height: 60px;
    /* main color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 6px;

}

.vector-right .white-one {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: absolute;
    left: 10%;
    top: 10%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;


}

.imgs {
    width: 480px;
    height: 400px;
    position: relative;

    /* main color */

    background: #281A4B;
    border-radius: 20px;
}

.img {
    position: absolute;
    bottom: 8%;
    left: 8%;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;

}

.img img {
    width: 100%;
    height: 100%;
}



/* End Header */

/* sponsors  */
.sponsors {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

}

.sponsors img {
    aspect-ratio: 3/2;
    object-fit: contain;
}

/* .sponsors img:nth-child(1) {
    width: 252px;
    height: 96px;
}

.sponsors img:nth-child(2) {
    width: 252px;
    height: 74px;
}

.sponsors img:nth-child(3) {
    width: 208px;
    height: 74px;
}

.sponsors img:nth-child(4) {
    width: 234px;
    height: 72px;
}

.sponsors img:nth-child(5) {
    width: 218px;
    height: 90px;
} */

/*end sponsors  */


/* Features */

.off {
    display: flex;
    gap: 30px;
}

.feat {
    display: flex;
    justify-content: center;


}

.feat-side-1 {

    padding: 30px 0px;
    font-family: regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.68%;
    /* or 23px */
    width: 85%;

    /* text color */

    color: #2C2C2D;
}

.f1 h2 {

    font-family: regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    /* text color */

    color: #2C2C2D;
}

.f1 p {
    padding: 30px 0px;
    width: 70%;
}


.f2-2 {
    border: 1px solid #E8E6EB;
    width: 89%;
    border-radius: 6px;
    box-shadow: 16px 0px 0px 0px #281A4B;
}

.f2-2 * {
    padding: 16px 0px;
    padding-left: 25px;
}

/* .feat-side-2 {
    
} */

.f3 {
    box-sizing: border-box;

    background: #FFFFFF;
    border: 2px solid #E8E6EB;
    box-shadow: 16px 0px 0px 0px #281A4B;
    border-radius: 3px;
    width: 40%;
    /* width: 375px;
    height: 211px;
     */

}

.f3-3 {
    padding-top: 45px;
    display: flex;
    justify-content: space-around;
}

.f3 * {
    padding: 10px 0px;
}

/* End Features */



/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */


/* rectangle */
.unneed {
    display: none;
    visibility: hidden;
}



.rectangle {
    height: 700px;
    position: relative;
    padding: 30px 0px;
    display: flex;
}

.rectangle-side-1 img:first-child {
    position: relative;
}

.rectangle-side-1 img:nth-child(2) {
    position: absolute;
    left: 8%;

}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    width: 22%;

}

.fra {
    border-radius: 6px;
    background-color: #FFFFFF;
    border: 1px solid #E8E6EB;
    width: 86%;
}

.frame-1 {
    position: absolute;
    top: 404px;
    left: 167px;
}

.frame-2 {
    position: absolute;
    top: -313px;
    left: 369px;
    position: relative;
    width: 22%;
}

.frame img {
    position: absolute;
    top: 53px;
    left: -22px;

}

.frame .p-1 {
    padding: 20px 0px;
    padding-left: 40px;
}

.frame .p-2 {
    padding: 30px 0px;
    padding-left: 40px;
}

.rectangle-side-2 {
    width: 44%;
    position: absolute;
    top: 100px;
    left: 730px;
    color: #FFFFFF;
}

.rectangle-side-2 p {
    padding: 15px 40px;
    padding-left: 0px;
}

.one {
    position: absolute;
    top: 50%;
    left: -5%;
    background: rgba(59, 45, 93, 0.2);
    border-radius: 15px;
}

.two {
    position: absolute;
    top: 230;
    left: 90;
}

.three {
    position: absolute;
    top: 0;
    left: 0;
}

.rectangle-side-2 img {
    position: absolute;
}

/* rectangle */



/* users */
#container-users {
    width: 92%;
    margin: auto;
}

.users {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    padding-top: 40px;
}

.user {
    padding: 0px 40px;
    position: relative;
}

.user-content {
    position: absolute;
    top: 240px;
    left: 100px;
    width: 370px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0px 0px 39px -22px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

/* users */

/* price */
.prices {
    height: 850px;
    position: relative;
    width: 76%;
    margin: auto;
    padding: 80px 40px;

}

.MVP {
    position: absolute;
    background-color: #FFFFFF;
    color: #281A4B;
    border-radius: 6px;
    padding: 4px;
    top: 3%;
    left: 67%;
}

.plan {
    padding: 80px 0px;
    padding-bottom: 0px;
    text-align: center;
}

.plan h2 {
    padding: 20px 0px;
}

.bundles {
    display: flex;
    padding: 50px 0px;

}

.bundle {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
    /* deyis olculeri */
    width: 365px;
    height: 600px;
}

.bundle-1 {
    position: absolute;
    top: 120px;
    left: -20px;
}

.bundle h3 {
    padding: 30px 0px;
}

.bundle-2 {
    position: relative;
    position: absolute;
    top: 70px;
    left: 395px;
    background: #3B2D5D;
    color: #FFFFFF;
    padding: 30px;

}

.bundle-3 {
    position: relative;
    position: absolute;
    top: 120px;
    left: 810px;
    padding: 30px;

}

/* .bundle p {
    text-align: ;
    width: ;
} */

.get {
    position: relative;
    top: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.get-1 {
    position: absolute;
    top: 510px;
    left: 90px;
}

.infos {
    /* padding-top: 25px; */
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.infos i {
    padding: 20px 0px;
}

/* End price */


/* FAQ */
.FAQ {
    background-color: #F9F9F9;
    padding: 60px 0px;
}

.Questions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.question {
    padding: 30px;
    padding-right: 180px;
    background-color: #FFFFFF;
    margin: 40px;
}

.mid-line {
    position: absolute;
    width: 395px;
    height: 0px;
    left: 560px;
    top: 211px;

    border: 3px solid #281A4B;
    transform: rotate(90deg);
}

/* End FAQ */


/* Contact US */

.contact-us {
    padding: 100px 50px;
}

.cont-act div {
    padding: 10px;
    padding-left: 0;
}

.cont-act {
    padding: 50px;
    background-color: #F9F9F9;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

}

.socials i {
    padding-right: 9px;
}

.contact-2 p {
    padding: 10px 0px;
}

.contact-3 p {
    padding: 10px 0px;
}

.contact-3 button {
    float: right;
    padding: 10px 50px;
    background-color: #281A4B;
    color: #FFFFFF;
    border-radius: 6px;


}

input {
    border-radius: 6px;
    width: 389px;
    height: 50px;
}

.big-input {
    width: 389px;
    height: 149px;
}

/* End Contact US */



/* Footer */
.foot {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #281A4B;
    padding: 10px 0px;
}

.footer-side-1 {
    width: 33%;
}

.footer-side-2 {
    /* width: 33%; */
    padding: 0px 20px;

}

.footer-side-2 * {
    padding-bottom: 10px;
}

.footer-side-2 h3 {
    padding-bottom: 20px;
}

.footer-side-3 {
    /* width: 33%; */
    padding: 0px 20px;

}

.footer-side-3 * {
    padding-bottom: 10px;
}

.footer-side-3 h3 {
    padding-bottom: 20px;
}

.footer-side-4 {
    /* width: 33%; */
    padding: 0px 20px;

}

.footer-side-4 * {
    padding-bottom: 10px;
}

.footer-side-4 h3 {
    padding-bottom: 20px;
}

.footer-side-5 {
    width: 28%;
    padding: 0px 50px;
    padding-right: 0px;

}

.footer-side-5 * {
    padding-bottom: 10px;
}

.footer-side-5 h3 {
    padding-bottom: 20px;
}

.footer-side-5 input {
    width: 258px;
    height: 45px;

    background: #FFFFFF;
    /* main color */
    padding: 20px 0px;
    border: 1px solid #2C2C2D;
    border-radius: 15px;
}


/* End Footer */



/* Welcome */
/* Welcome */
/* Welcome */
/* Welcome */
/* Welcome */

.welcome {
    text-align: center;
    padding: 30px 0px;
}

.welcome h3 {
    padding: 40px 0px;
}

.photos {
    /* overflow: hidden; */
    position: relative;
    background-color: #281A4B;
    /* display: flex; */
    border-radius: 3px;
    width: 317px;
    height: 260px;
    transition: 0.5s all ease-in-out;


}

.photo {
    transition: 1s all ease-in-out;
    width: 317px;
    height: 260px;
    overflow: hidden;
    position: relative;

}

.photo p {
    padding: 10px;
    padding-top: 20px;
    width: 45%;
    float: right;
    color: #FFFFFF;
    text-align: center;
    overflow-block: auto;
}

.photos p {
    text-align: center;
    padding: 10px;
}

.businesses {
    padding-bottom: 75px;
}

.business-1 {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: auto;
    padding: 20px 0px;
}

.business-2 {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: auto;
    padding: 20px 0px;

}

.business-1 img {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s all ease-in-out;

}

.business-2 img {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s all ease-in-out;


}

.photos:hover img {
    left: -50%;
    transition: 0.5s all ease-in-out;
}



/* End Welcome */
/* End Welcome */
/* End Welcome */
/* End Welcome */
/* End Welcome */
/* End Welcome */



/* Login-Page */
/* Login-Page */
/* Login-Page */
/* Login-Page */
/* Login-Page */
/* Login-Page */
/* Login-Page */
.login-page {
    background-image: url(/images/backgroi.png);
    background-size: cover;
    /* height: 858px; */
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 100vh;
}

.login-prompt {
    font-family: regular;
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 30px;
    position: absolute;
    width: 502px;
    height: 554px;
    left: 33%;
    top: 25%;

}

.login-prompt p {
    padding: 15px 0px;
}

.login-prompt form label {
    font-weight: 400;
}

label {
    float: left;
    padding: 0px 57px;
}

.footer-login {
    padding: 70px 0px;
}

/* End Login-Page */
/* End Login-Page */
/* End Login-Page */
/* End Login-Page */
/* End Login-Page */
/* End Login-Page */
/* End Login-Page */








/* Create a business */
/* Create a business */
/* Create a business */
/* Create a business */
/* Create a business */
/* Create a business */
/* Create a business */
/* Create a business */
/* Create a business */
/* Create a business */

.create-bs {
    display: flex;
    width: 50%;
    padding-left: 50px;
}

.bs-1 {
    display: block;
    /* width: 23%; */
}

.bs-2 {
    display: block;
    /* width: 23%; */
}

.create-photos {
    margin: 70px 0px;
    margin-top: 0px;
}




/*End  Create a business */
/*End  Create a business */
/*End  Create a business */
/*End  Create a business */
/*End  Create a business */
/*End  Create a business */
/*End  Create a business */
/*End  Create a business */
/*End  Create a business */
/*End  Create a business */