/* Defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: regular;
}

#container {
    width: 85%;
    margin: auto;
}

#container-1 {
    width: 90%;
    margin: auto;
}

@font-face {
    font-family: regular;
    src: url(/fonts/Lato-Regular.ttf);
}

/* End Defaults */

/* Header */
/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}




/* phone */
.burger {
    display: none;
}

/* phone */

.nav-list ul li {
    list-style-type: none;
    text-transform: capitalize;
    cursor: pointer;
}

.nav-list ul {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

}

.nav3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    -webkit-touch-callout: none;



}


.nav3 .mamed img {
    cursor: pointer;
}

.nav3 img:nth-child(2) {
    padding: 5px;
}


/* End navbar */
.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-main {
    background-color: #F8F8FA;

}

.top {
    display: flex;

}

.unsee {
    display: none;
}

.head-side-1 h2 {
    width: 509px;
    height: 72px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #2C2C2D;
    font-family: regular;


}

.head-side-1 p {
    font-family: regular;
    width: 473px;
    height: 88px;
    color: #2C2C2D;
    padding: 80px 0px;

}

.imgs img {
    display: none;
    object-fit: cover;
    border-radius: 20px;

}


.mamed {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mamed i {
    display: none;
    font-size: 20px;
    padding: 5px;

}

.img .active {
    display: flex;
    transition: all 1s ease-in-out;
}

.are {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: #FFFFFF;
    /* main color */

    border: 1px solid #281A4B;
    border-radius: 6px;
    padding: 15px 90px;
    gap: 10px;
    cursor: pointer;

}

.login {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;
    /* 
    width: 179px;
    height: 50px; */

    /* main color */

    background: #281A4B;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: regular;
}

.get-started {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: regular;
    display: inline-block;
    /* main color */

    background: #281A4B;
    border-radius: 6px;
    color: #FFFFFF;
    padding: 10px 50px;
    cursor: pointer;

}

.head-side-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 540px;
    gap: 60px;
}

.vector-left {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    width: 60px;
    height: 60px;
    /* main color */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #281A4B;
    border-radius: 6px;
}

.vector-right {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: relative;
    margin-left: 25px;
    width: 60px;
    height: 60px;
    /* main color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 6px;

}

.vector-right .white-one {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: absolute;
    left: 10%;
    top: 10%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;


}

.imgs {
    width: 480px;
    height: 400px;
    position: relative;
    transition: all 1s ease-in-out;



    /* main color */

    background: #281A4B;
    border-radius: 20px;
}

.img {
    position: absolute;
    bottom: 8%;
    left: 8%;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;

}

.img img {
    width: 100%;
    height: 100%;
}



/* End Header */

/* sponsors  */
.sponsors {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

}

/* .sponsors img:nth-child(1) {
    width: 252px;
    height: 96px;
}

.sponsors img:nth-child(2) {
    width: 252px;
    height: 74px;
}

.sponsors img:nth-child(3) {
    width: 208px;
    height: 74px;
}

.sponsors img:nth-child(4) {
    width: 234px;
    height: 72px;
}

.sponsors img:nth-child(5) {
    width: 218px;
    height: 90px;
} */

/*end sponsors  */


/* Features */
/* .off {
    display: flex;
    gap: 30px;
} */

.feat {
    display: flex;
    justify-content: center;


}

.feat-side-1 {

    padding: 30px 0px;
    font-family: regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.68%;
    /* or 23px */


    /* text color */

    color: #2C2C2D;
}

.f1 h2 {

    font-family: regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    /* text color */

    color: #2C2C2D;
}

.f1 p {
    padding: 30px 0px;
    width: 70%;
}


.f2-2 {
    border: 1px solid #E8E6EB;
    width: 89%;
    border-radius: 6px;
    box-shadow: 16px 0px 0px 0px #281A4B;
}

.f2-2 * {
    padding: 16px 0px;
    padding-left: 25px;
}

.feat-side-2 {
    padding: 30px;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;
    /* width: 33%; */
    height: 390px;
}

.f3 {
    box-sizing: border-box;

    background: #FFFFFF;
    border: 2px solid #E8E6EB;
    box-shadow: 16px 0px 0px 0px #281A4B;
    border-radius: 3px;

}

.f3 * {
    padding: 10px 0px;
}

/* End Features */



/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */
/* Duymeleri a taglari ile et  */


/* rectangle */

.rectangle {
    height: 700px;
    position: relative;
    padding: 30px 0px;
    display: flex;
}

.rectangle-side-1 img:first-child {
    position: relative;
}

.rectangle-side-1 img:nth-child(2) {
    position: absolute;
    left: 8%;

}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    width: 22%;

}

.fra {
    border-radius: 6px;
    background-color: #FFFFFF;
    border: 1px solid #E8E6EB;
    width: 86%;
}

.frame-1 {
    position: absolute;
    top: 404px;
    left: 167px;
}

.frame-2 {
    position: absolute;
    top: -313px;
    left: 369px;
    position: relative;
    width: 22%;
}

.frame img {
    position: absolute;
    top: 53px;
    left: -22px;

}

.frame .p-1 {
    padding: 20px 0px;
    padding-left: 40px;
}

.frame .p-2 {
    padding: 30px 0px;
    padding-left: 40px;
}

.rectangle-side-2 {
    width: 44%;
    position: absolute;
    top: 100px;
    left: 730px;
    color: #FFFFFF;
}

.rectangle-side-2 p {
    padding: 15px 40px;
    padding-left: 0px;
}

.one {
    position: absolute;
    top: 50%;
    left: -5%;
    background: rgba(59, 45, 93, 0.2);
    border-radius: 15px;
}

.two {
    position: absolute;
    top: 230;
    left: 90;
}

.three {
    position: absolute;
    top: 0;
    left: 0;
}

.rectangle-side-2 img {
    position: absolute;
}

/* rectangle */



/* users */
.users {
    display: flex;
    justify-content: space-between;

    padding: 20px;
}

.user {
    padding: 0px 40px;
    position: relative;
}

.user-content {
    position: absolute;
    top: 240px;
    left: 100px;
    width: 370px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0px 0px 39px -22px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

/* users */